# Pawnshop Data Analytics

### Import Library

In [45]:
import pandas as pd
import random
import faker
import csv
from datetime import datetime, timedelta

import matplotlib.pyplot as plt

### Generate Dummy Data

In [26]:
fake = faker.Faker()

In [27]:
# Generate random customer data
def generate_customer():
    return {
        'Customer ID': fake.random_number(digits=4),
        'Name': fake.name(),
        'Date of Birth': fake.date_of_birth(minimum_age=18, maximum_age=90).strftime('%Y-%m-%d'),
        'Employment Information': fake.company(),
        'Notes/Comments': fake.text()
    }

# Generate random item data
def generate_item():
    return {
        'Item ID': fake.random_number(digits=4),
        'Description': fake.word() + ' ' + fake.word(),
        'Category': random.choice(['Electronics', 'Jewelry', 'Musical Instruments', 'Tools', 'Collectibles']),
        'Brand': fake.company(),
        'Model': fake.word(),
        'Condition': random.choice(['New', 'Used', 'Refurbished']),
        'Original Purchase Price': round(random.uniform(50, 1000), 2),
        'Pawned/Sold Price': round(random.uniform(20, 500), 2),
        'Date Pawned/Sold': (datetime.now() - timedelta(days=random.randint(1, 365))).strftime('%Y-%m-%d'),
        'Pawn Ticket/Receipt Number': 'PT' + str(fake.random_number(digits=10)),
        'Appraised Value': round(random.uniform(50, 1000), 2),
        'Comments/Notes': fake.text()
    }

# Generate random transaction data
def generate_transaction():
    return {
        'Transaction ID': fake.random_number(digits=4),
        'Customer ID': fake.random_number(digits=4),
        'Item ID(s)': fake.random_number(digits=4),
        'Transaction Type': random.choice(['Pawn', 'Buy', 'Sell', 'Redeem']),
        'Transaction Date/Time': fake.date_time_this_decade().strftime('%Y-%m-%d %H:%M:%S'),
        'Total Transaction Amount': round(random.uniform(10, 1000), 2),
        'Payment Method': random.choice(['Cash', 'Credit Card', 'Debit Card']),
        'Employee ID': fake.random_number(digits=4),
        'Comments/Notes': fake.text()
    }

# Generate random employee data
def generate_employee():
    return {
        'Employee ID': fake.random_number(digits=4),
        'Name': fake.name(),
        'Date of Birth': fake.date_of_birth(minimum_age=18, maximum_age=70).strftime('%Y-%m-%d'),
        'Employment Start Date': fake.date_this_decade().strftime('%Y-%m-%d'),
        'Position/Title': random.choice(['Manager', 'Pawnbroker', 'Sales Associate']),
        'Hourly Wage/Salary': round(random.uniform(10, 30), 2),
        'Manager': fake.name(),
        'Notes/Comments': fake.text()
    }

In [28]:
# Generate dummy data and save to CSV
def generate_dummy_data_to_csv():
    customer_data = [generate_customer() for _ in range(1000)]
    item_data = [generate_item() for _ in range(1000)]
    transaction_data = [generate_transaction() for _ in range(1000)]
    employee_data = [generate_employee() for _ in range(1000)]

    # Write to CSV files
    with open('customer_data.csv', 'w', newline='', encoding='utf-8') as f:
        writer = csv.DictWriter(f, fieldnames=customer_data[0].keys())
        writer.writeheader()
        writer.writerows(customer_data)

    with open('item_data.csv', 'w', newline='', encoding='utf-8') as f:
        writer = csv.DictWriter(f, fieldnames=item_data[0].keys())
        writer.writeheader()
        writer.writerows(item_data)

    with open('transaction_data.csv', 'w', newline='', encoding='utf-8') as f:
        writer = csv.DictWriter(f, fieldnames=transaction_data[0].keys())
        writer.writeheader()
        writer.writerows(transaction_data)

    with open('employee_data.csv', 'w', newline='', encoding='utf-8') as f:
        writer = csv.DictWriter(f, fieldnames=employee_data[0].keys())
        writer.writeheader()
        writer.writerows(employee_data)

generate_dummy_data_to_csv()

In [ ]:
def generate_pawnshop():
    return {
        'Customer ID': fake.random_number(digits=4),
        'Name': fake.name(),
        'Date of Birth': fake.date_of_birth(minimum_age=18, maximum_age=90).strftime('%Y-%m-%d'),
        'Category': random.choice(['Electronics', 'Jewelry', 'Musical Instruments', 'Tools', 'Collectibles']),
        'Brand': fake.company(),
        'Condition': random.choice(['New', 'Used', 'Refurbished']),
        'Original Purchase Price': round(random.uniform(50, 1000), 2),
        'Pawned/Sold Price': round(random.uniform(20, 500), 2),
        'Date Pawned/Sold': (datetime.now() - timedelta(days=random.randint(1, 365))).strftime('%Y-%m-%d'),
        'Pawn Ticket/Receipt Number': 'PT' + str(fake.random_number(digits=10)),
        'Appraised Value': round(random.uniform(50, 1000), 2),
    }

### Data Loading

In [29]:
df_customer = pd.read_csv('customer_data.csv')
df_employee = pd.read_csv('employee_data.csv')
df_item = pd.read_csv('item_data.csv')
df_transaction = pd.read_csv('transaction_data.csv')

## Quick Overview Dataframes

In [30]:
df_customer.head()

,Customer ID,Name,Date of Birth,Employment Information,Notes/Comments
0,1161,Ashlee Vega,1933-09-24,"Solomon, Spears and Johnson",System concern public according others today s...
1,1107,Patrick Williams,1966-05-05,Harris and Sons,Score read available administration fear all. ...
2,5352,Ronald Anderson,1960-08-23,Hall-White,Stand ever watch like message certainly partic...
3,9476,Mary Trujillo,1949-07-02,Hernandez-Jones,True several position name both report or. Wal...
4,7376,Darin Clay,2002-07-06,"Myers, Harris and Montgomery",Past plant thought speech manager. Rise heart ...

In [31]:
df_employee.head()

,Employee ID,Name,Date of Birth,Employment Start Date,Position/Title,Hourly Wage/Salary,Manager,Notes/Comments
0,4803,Lori Williams,1981-03-04,2021-11-05,Pawnbroker,14.66,Daniel Sparks,Federal decade smile sometimes art learn neces...
1,7228,Joseph Guerrero,1990-01-18,2023-08-27,Sales Associate,28.32,Betty Arnold,Author purpose could high necessary summer mis...
2,4753,Rebecca Mckinney,1980-04-13,2022-06-10,Manager,15.65,Crystal Fisher,Maybe where possible very. Smile mind among ta...
3,9051,Samuel Salinas,1978-03-13,2020-10-31,Pawnbroker,13.32,David Carney,Wide field black another media response either...
4,1925,Richard Baird,2005-05-31,2020-06-14,Pawnbroker,25.55,Kristen Henderson,Thought add level because police wall. Image w...

In [32]:
df_item.head()

,Item ID,Description,Category,Brand,Model,Condition,Original Purchase Price,Pawned/Sold Price,Date Pawned/Sold,Pawn Ticket/Receipt Number,Appraised Value,Comments/Notes
0,6737,agency music,Electronics,Farmer-Brewer,already,Refurbished,874.82,30.42,2023-10-15,PT8538193966,97.69,Inside popular finish her treat less. Brother ...
1,1915,thing hard,Collectibles,Villarreal LLC,audience,New,506.41,186.86,2023-06-06,PT4265929063,603.36,Project when investment fast program draw cand...
2,2206,spend car,Musical Instruments,Smith-Myers,understand,New,895.17,83.55,2024-02-20,PT1649977269,278.66,Gun believe speech assume. Country friend deve...
3,7567,because opportunity,Musical Instruments,"Petty, Rodriguez and Coleman",along,Refurbished,596.27,169.60,2024-04-14,PT9845158377,955.17,Forward best ready issue. Ago bar site notice ...
4,5731,charge future,Jewelry,"Williams, Bell and Marshall",than,New,859.94,120.46,2024-02-29,PT2001528697,224.50,Pull nice professional baby first and. Finally...

In [33]:
df_transaction.head()

,Transaction ID,Customer ID,Item ID(s),Transaction Type,Transaction Date/Time,Total Transaction Amount,Payment Method,Employee ID,Comments/Notes
0,4637,4714,7175,Buy,2021-05-29 02:43:45,931.90,Cash,4953,Know since after final as hour thing. Reveal d...
1,9328,9766,9508,Pawn,2021-10-07 04:12:01,459.01,Cash,4542,Oil why man space bring inside.\nSubject at th...
2,922,8424,4411,Pawn,2020-01-04 00:34:40,115.16,Debit Card,584,Father person mother reach. Apply six over sea...
3,7230,4731,7229,Pawn,2021-04-17 16:19:54,516.08,Cash,9332,Then bed tough hospital gas early.\nJust child...
4,7598,4775,4006,Redeem,2020-07-11 20:49:14,199.19,Credit Card,6613,Air he discussion American attorney audience. ...

#### Employee Dataframe

In [35]:
df_employee.nunique()

Employee ID               959
Name                      994
Date of Birth             977
Employment Start Date     745
Position/Title              3
Hourly Wage/Salary        771
Manager                   993
Notes/Comments           1000
dtype: int64

In [36]:
df_employee.isnull().sum()

Employee ID              0
Name                     0
Date of Birth            0
Employment Start Date    0
Position/Title           0
Hourly Wage/Salary       0
Manager                  0
Notes/Comments           0
dtype: int64

In [39]:
df_employee['Employee ID'].duplicated().sum()

41

#### Item Dataframe

In [40]:
df_item.isnull().sum()

Item ID                       0
Description                   0
Category                      0
Brand                         0
Model                         0
Condition                     0
Original Purchase Price       0
Pawned/Sold Price             0
Date Pawned/Sold              0
Pawn Ticket/Receipt Number    0
Appraised Value               0
Comments/Notes                0
dtype: int64

In [41]:
df_item.nunique()

Item ID                        955
Description                    998
Category                         5
Brand                          961
Model                          631
Condition                        3
Original Purchase Price        995
Pawned/Sold Price              993
Date Pawned/Sold               350
Pawn Ticket/Receipt Number    1000
Appraised Value                996
Comments/Notes                1000
dtype: int64

Drop duplicated ited ID datarow

#### Transaction Dataframe

In [43]:
df_transaction.nunique()

Transaction ID               959
Customer ID                  957
Item ID(s)                   951
Transaction Type               4
Transaction Date/Time       1000
Total Transaction Amount     994
Payment Method                 3
Employee ID                  932
Comments/Notes              1000
dtype: int64

In [44]:
df_transaction.isnull().sum()

Transaction ID              0
Customer ID                 0
Item ID(s)                  0
Transaction Type            0
Transaction Date/Time       0
Total Transaction Amount    0
Payment Method              0
Employee ID                 0
Comments/Notes              0
dtype: int64

Pada tahapan ini data langsung divisualisasikan, tanpa preprocessing, sebab data terlalu artificial dan tidak dapat diambil insight yang bermakna.